<!DOCTYPE html>
<html>

    <%- include('config/head.ejs')%>

<body onload="bodyLoader()">   

        <div class="mainStyle"> 
            <%- include('config/bkgdImg.ejs')%>
            <%- include('config/header.ejs')%>
            
            <div class="midLeft">
                <div class="eventBody">
              <h1>About us page</h1>
              <p>More coming from the owners of Noco Metalworkz</p>
            </div>
            </div>

        
        <div class="midBar">
            <div class="midLeft">
                <div class="landingPage0">
            <a href="/market">     <div class="navBox">
                marketplace
            </div></a>
        </div>
<div class="landingPage0">
   <a href="/faqs"> <div class="navBox">
        F.A.Q's
    </div></a>
</div>
<div class="landingPage0">
    <a href="/">   <div class="navBox">
       home
    </div></a>
</div>
</div>
<div class="eventBody">
<h2>Noco Metalworkz Web Application is Developed and Hosted by:</h2> <a href=""><h2> W2 Marketing LLC ~ Greeley, CO</h2></a>
<a href=""><h2>report app issues to developer</h2></a>

</div>



</div>


      <%- include('config/footer.ejs')%>

    </div>


<%- include('./config/baseScripts.ejs')%>
</body>
 </html>