<!DOCTYPE html>
<html>
  <head>

    <%-include('./design/head')%>
  
  </head>
  <body>
    <%if(config.debug.index){%>
    <div class="debug"><p>debug index.ejs</p></div>
<%}%>
    <div id="mainView">
<%-include('./design/lightbox')%>
<%-include('./design/menu')%>
<%-include('./design/header')%>
<%-include('./design/mainbody')%>
<%-include('./design/footer')%>
</div>
    <%-include('./scripts/index', config)%>
  </body>
</html>
