<!DOCTYPE html>
<html>

    <%- include('config/head.ejs')%>

<body onload="bodyLoader()">
<canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
 <div class="mainStyle">
 
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/intro.ejs')%>

     <h1>Our Newest Workz!</h1>
     <div class="invGrid">
         <% for(var i=0;i<6;i++){%>
            <div style="background-image: url('<%= data[i].imgName%>');" class="invBox">
                <div class="gridContain">
                    <div class="invName"><%= data[i].name%></div>
                    <div class="invPrice"><%= data[i].price%></div>
                </div>
            </div>
            <%}%>
        </div>
        
     
        
        
        <div class="landingPage0">
            <a href="/market">     <div class="navBox">
                marketplace
            </div></a>
        </div>
<div class="landingPage0">
   <a href="/about"> <div class="navBox">
        about
    </div></a>
</div>
<div class="landingPage0">
    <a href="/faq">   <div class="navBox">
        faqs
    </div></a>
</div>


        <h1>Our Recent Events and Posts</h1>
        <div class="landingPage">   
            <% for(var i=0;i<blogs.length;i++){%>
                <div class="eventBody">
                    <h1><%= blogs[i].bTitle%></h1>
                    <h2><%= blogs[i].bSubtitle%></h2>
                    <p><%= blogs[i].bDetails%></p>
                    <div  class="imgBox"><img class="mainImg"src="<%= blogs[i].imgName%>" alt=""></div>
            </div>
            <%}%>
        </div>

      <%- include('config/footer.ejs')%>

    </div>
</div>
<!--script src="javascripts/backgroundFX1.js"></script-->
<script src="javascripts/slide.js"></script>
<script src="javascripts/bodyLoader.js"></script>
</body>
 </html>