<!DOCTYPE html>
<html>
  <head>

    <%-include('./design/head')%>
  
  </head>
  <body>
    <%if(config.debug.index){%>
    <div class="debug"><p>debug index.ejs</p></div>
<%}%>
    <div id="mainView" style="background-image: url('./images/assets/image1.jpeg');">
<%-include('./design/lightbox')%>
<%-include('./design/popup')%>
<%-include('./design/menu')%>
<%-include('./design/mainbody')%>
</div>
    <%-include('./scripts/index', config)%>
  </body>
</html>
