<!DOCTYPE html>
<html>
    <body>
           
<canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/loadScreen.ejs')%>
<div class="eventBody">
<h1 class="h1Span"><%=title%></h1>
</div>
<div class="mainStyle">



<div class="eventBody">
        <h1>Inventory Home</h1>
  <table>

    <tbody>
        <%for(let i=0;i<inventory.length;i++){%>
            <form action="/updateInv" method="post">
        <tr>
          
        <td><input name="name" required placeholder="<%=inventory[i].name%>"></td>
        <td hidden><input name="ogPost" value="<%=inventory[i].postDate%>"></td>
        <td><input name="price" required placeholder="<%=inventory[i].price%>"></td>
      
        <td><a href="/updateDetails">Update Details</a></td>
        <td><select required name="catRef">
       <option value=""><%=inventory[i].catRef%></option>
            <%for(let i =0;i<catagory.length;i++){%>
                <option value="<%=catagory[i].catName%>"><%=catagory[i].catName%></option>
                <%}%>
        </select>
    </td>
    <td><img src="<%=inventory[i].imgName%>"></td>
    <td><input name="invId" value="<%=inventory[i]._id%>" hidden>
      <td> <button type="submit">Update</button></td>
     </form>
   <td> <form action="/deleteInv" method="post"> 
        <td><input name="invId" value="<%=inventory[i]._id%>" hidden>
        <button type="submit">Delete Item</button>
    </form>
</td>
</tr>
     <%}%>
</tbody>
  </table>
</div>
<a onclick="goBack()"><div class="navBox">back to admin</div></a>
</div>

<div class="eventBody">
  <div class="mainStyle">
      <h1 class="h1Span">Add Inventory</h1>
          <div class="eventBody" id="inv0">
      
            <form action="/newItem" enctype="multipart/form-data" method="post">
  
              <h2>Step 1: Add Details</h2>
              <p>Category Type:</p>
              <select name="catSelect"  id="">
                 <option value="">Select a Category</option>
                 <%if(typeof blogs == 'object' && blogs[0]){%>
                 <% for(let i=0;i<catagory.length;i++){%>
                 <option  value="<%= catagory[i].catName%>"><%= catagory[i].catName%></option>
                
                 <%}%>
                 <%}%>
                </select>
        
                <input placeholder="Item Name"  type="text" name="inventoryName">
                <input placeholder="Price w/ Shipping" type="text" name="inventoryPrice">
                <h2>shipping details</h2>
                <input placeholder="Item Width"  type="text" name="inventoryWidth">
                <input placeholder="Item Height"  type="text" name="inventoryHeight">
                <input placeholder="Item Depth"  type="text" name="inventoryDepth">
                <input placeholder="Item Weight"  type="text" name="inventoryWeight">
                <h2>product details</h2>
                <textarea placeholder="Item Details" type="text" name="inventoryDetails"></textarea>
               
                <h2 style="margin: 0;">Step 2: Attach One Image</h2> 
                <input type="file" accept="image/*" name="photo">
                <h2>Step 3: Submit</h2> 
                  <button onclick="loading('adding New Inventory Item')" type="submit" >Submit</button>
             </form>
          </div>
        </div>
</div>
<%- include('./config/baseScripts.ejs')%>
 

<%- include('config/footer.ejs')%> 
    </div>

    </body> </html>