<!DOCTYPE html>
<html>
    <body >
      <%- include('partials/cart.ejs')%>
    <canvas id="bkgdCanvas"></canvas>  
    <div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/loadScreen.ejs')%>

    <div class="mainStyle">
        <div class="">
          <div class="eventBody">
          <h1 class="h1Span"><%= title%></h1>
        </div>
            <form action="/marketOp">
                <div class="marketFilter">
                    <select onchange="submit()"  name="catID" id="">
                        <option >filter by category</option>
                      <% for(var i=1;i<catagory.length;i++){%>
                        <option value="<%= catagory[i].catName%>"><%= catagory[i].catName%></option>
                        <%}%>
                      
                    </select>
                </div>

                </form>
     </div>
   
     <% if(data.length<1){%>
      <div class="mainStyle">
        <div class="eventBody">
     <h1 class="h1Span">No inventory found for this Category</h1>
    </div>
    <%}%>
    <div class="invGrid">
      <% for(var i=0;i<data.length;i++){%>
        <div class="gridContain">
        <a href="/productID/<%= data[i]._id%>">  <div  style="background-image: url('<%= data[i].imgName%>')" class="invBox"></div></a>
        </div>
        <%}%>
      </div>
   </div>
 </div>
    <%- include('config/footer.ejs')%> 

    <%- include('./config/baseScripts.ejs')%>
    </body> </html>