<!DOCTYPE html>
<html>
    <body>
           
<canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>
    <%- include('config/loadScreen.ejs')%>
<div class="eventBody">
<h1 class="h1Span"><%=title%></h1>
</div>
<div class="mainStyle">

<a onclick="goBack()"><div class="navBox">back to admin</div></a>
</div>


<%- include('./config/baseScripts.ejs')%>
<%- include('config/footer.ejs')%> 
    </div>

    </body> </html>