<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="shortcut icon" type="image/png"href="/images/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <style></style>
    </head>

<body >
    <%- include('partials/cart.ejs')%>
    <%- include('config/loadScreen.ejs')%>

 <div class="mainStyle">
 
    <%- include('../views/config/bkgdImg.ejs')%>
    <%- include('../views/config/header.ejs')%>
  <div class="eventBody">
    <h2 class="h1Span"> <%= title%> :  <%= data.name%></h2>
</div>

        <!----LANDING PAGE CLASS IS GRID DISPLAY-->
        <!----LARGE SCREEN 4 GRID !!!! MEDIUM SCREEN 3 GRID !!!!! SMALL 2 and single GRID-->
  <div class="landingPage">
      <div style="background-image:url('/<%= data.imgName%>');" class="imgBox"></div> 
    <div class="eventBody">

        <div class="invPrice"><%= data.price%></div> 
        <div >
            <h3><%= data.details%></h3>
            <br>
            <div class="eventBody">
            <h3>Sizing</h3>
            <%if(typeof data.shipping == "object"&& data.shipping){%>
            <h3>Height: <%= data.shipping.height%> inches</h3>
            <h3>Width: <%= data.shipping.width%> inches</h3>
            <h3>Depth: <%= data.shipping.depth%> inches</h3>
            <h3>Weight: <%= data.shipping.weight%> pounds</h3>
            <%}else{%>
                <h3>No sizing for this product available</h3>
                <%}%>
        </div>
        </div> 
        
    </div>




    <div>
        <form action="/addToCart" method="post">
            <input name="prodId" hidden="true" value="<%= data._id%>"></label>
            <input name="prodName" hidden="true" value="<%= data.name%>"></label>
            <input name="prodPrice" hidden="true" value="<%= data.price%>"></label>
            <input name="prodImg" hidden="true" value="<%= data.imgName%>"></label>
            <% if (typeof user == 'object' && user || typeof session.user == 'object' && session.user) { %>
                <button onclick="loading('adding to cart')" id="productAddButton" type="submit" value="submit()" ><h2>add to cart</h2></button>
                <%}else{%>
                    <a href="/login"><div class="navBox">sign in to add to cart</div></a>
                    <%}%>
                </form>   
                <a onclick="loading('...loading previous page'), goBack()"><div class="navBox">back</div></a>
                <a onclick="loading('getting blogs and inventory')" href="/"><div  class="navBox">home</div></a>
    </div>
</div>
      <%- include('../views/config/footer.ejs')%>

    </div>

<script src="/javascripts/cart.js"></script>
<%- include('./config/baseScripts.ejs')%>

</body>
 </html>